spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgresPlusDialect
  datasource:
    url: jdbc:postgresql://vm-provisioning.csk0i38g30hd.us-east-1.rds.amazonaws.com:5432/vmprovisioning
    username: vmprovisioning
    password: vmprovisioning
